{% extends "/email/baseEmail.html.twig" %}

{% block content %}
    <h1 class="text-center">Witaj! {{ username }}</h1>
    <p class="block">
        Twoje nowe hasło to: {{ temporaryPassword }} <br><br>
        Postaraj się zmienić je jak najszybciej!

    </p>
{% endblock %}